<%= content_for :navigation, render('shared/custom-navbar') %>
<div class="bg-container">
  <div class="bahyo-img">
    <%= image_tag "logo-hp.svg" %>
  </div>
</div>

<div class="main-container">
  <div class="intro">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="filters projects-container">
    <div class="project-card card-1">
      <%= link_to "Landscape and Interior design", projects_path(category: "Landscape and Interior design") %>
    </div>
    <div class="project-card card-2">
      <%= link_to "Urban planning and Corporaten", projects_path(category: "Urban planning and Corporate") %>
    </div>
    <div class="project-card card-3">
      <%= link_to "Events and Festivals", projects_path(category: "Events and Festivals") %>
    </div>
  </div>

</div>
