<!-- <div class="images-container"> -->
<div class="owl-carousel carousel-height">
  <% @project.images.each do |image| %>
    <div> <%= cl_image_tag image.photo_url, height: 400, crop: :fill %> </div>
  <% end %>
</div>
<div class="project-info-container">
  <div class="description">
    <p><%= @project.description %></p>
  </div>
  <div class="project-info">
    <p><%= @project.name %></p>
    <p><%= @project.client %></p>
  </div>
</div>

<% if current_user %>
  <%= link_to "edit", edit_project_path(@project) %>
  <%= link_to "Add an image", new_project_image_path(@project) %>
<% end %>

