<!-- <div class="images-container"> -->
<div class="owl-carousel">
  <!-- <div class="slider"> -->
  <% @project.images.each do |image| %>
    <div> <%= cl_image_tag image.photo_url, height: 400, crop: :fill %> </div>
  <% end %>
</div>
<!-- </div> -->
<div>
  <%= @project.name %>
  <%= @project.client %>
</div>

<% if current_user %>
  <%= link_to "edit", edit_project_path(@project) %>
  <%= link_to "Add an image",  new_project_image_path(@project) %>
<% end %>

