<h1>PROJECT</h1>

<div class="project-form">
  <%= render '/images/form' %>
</div>
<div class="images-container">
  <div>
  <% @project.images.each do |image| %>
    <div> <%= cl_image_tag image.photo_url, height: 400, crop: :fill %></div>
     <%= link_to 'edit', edit_image_path(image) %>
     <%= link_to "delete", image_path(image), method: :delete %>
  <% end %>
  </div>
</div>
<div>
  <%= @project.name %>
  <%= @project.client %>
</div>


  <%= link_to "edit", edit_project_path(@project) %>
  <%= link_to "Add an image",  new_project_image_path(@project) %>


