<h1>PROJECT</h1>
<div class="sections-container">
  <div class="left-section">
    <div class="project-info-section">
      <%= link_to "edit", edit_project_path(@project) %>
      <div>
        <h2><%= @project.name %></h2>
        <p><%= @project.client %></p>
        <p><%= @project.category %></p>
        <div>
          <p><%= @project.description %></p>
        </div>
      </div>
    </div>
    <div class="image-form">

      <%= render 'images/form', project: @project, image: @image %>
    </div>
  </div>
  <div class="right-section">

    <div class="images-container">
      <div id="images">
        <% @project.images.each do |image| %>
          <%= render 'images/show', image: image%>
        <% end %>
      </div>
    </div>
  </div>
</div>



